Source: kt-update
Section: admin
Priority: optional
Maintainer: Jean-Jacques Brucker <jeanjacquesbrucker@gmail.com>
Build-Depends: debhelper-compat (= 12), pandoc
Standards-Version: 4.4.1

Package: kt-update
Architecture: all
Depends: apt, wget, ${misc:Depends}, bash ( >= 4.4 )
Recommends: liblockfile-bin, cron | cron-daemon, debsums
Suggests: default-mta | mail-transport-agent
Description: lightweight distribution management
 Manage an apt sources.list with some extensions, which can be remotly defined,
 and wrap apt-get to ease configuration management.
 .
 Thus allows users to switch between different distribution configurations.
 It also allows users to switch between Debian's light derivatives.
 .
 Observe that this tool may be a security risk, so you should not set it
 to do more than necessary. Automatic upgrade of all packages is NOT
 recommended unless you are in full control of the package repository.
